POSTGRES_DB=instagram_ops
POSTGRES_USER=instagram
POSTGRES_PASSWORD=instagram
POSTGRES_PORT=5432

REDIS_PORT=6379

BACKEND_PORT=4000
FRONTEND_PORT=3000

WORKER_CONCURRENCY=1
JWT_SECRET=local-dev-jwt-secret
ACCESS_TOKEN_EXPIRES_IN=3600
INSTAGRAM_API_MODE=mock
OAUTH_MODE=mock
NOTIFICATION_MODE=log
MOCK_OAUTH_EXPECTED_STATE=mock_state_demo